$dark:rgb(78, 78, 78);
$light: #fff;
$main: rgb(154, 255, 221);
$orange: #f7fe72;
$secondary: rgb(149, 255, 241);
$foot: rgb(22, 24, 81);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
} 
body{
    max-width: 100vw;
    font-family: sans-serif;
    color: $dark;
}
::-moz-selection {
    background-color: $main;
    color: #fff;
}
::selection {
    background-color: $main;
    color: #fff;
}
.scroll-down{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 2rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .mouse{
        width: 20px;
        height: 45px;
        border: 1px solid $dark;
        border-radius: 2rem;
        display: flex;
        span{
            width: 10px;
            height: 10px;
            background-color: $dark;
            display: block;
            border-radius: 50%;
            margin: auto;
            animation: scroll 1s linear alternate infinite;
        }
    }
    .arrow span{
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid transparent;
        border-right-color: $dark;
        border-bottom-color: $dark;
        transform: rotate(45deg); 
        animation: arrow 1s linear alternate infinite;
    }
}

nav{
    display: flex;
    justify-content: flex-end;
    span{
        font-size: 30px;
        margin-right: 2rem;
        position: fixed;
        color: $main;
        cursor: pointer;
    }
    .overlay{
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $main;
        overflow-y: hidden;
        transition: 0.5s;
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
            a{
                padding: 8px;
                text-decoration: none;
                font-size: 36px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }
        } 
        .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
            text-decoration: none;
            color: $dark;
        }
    }
    
}

#home{
    height: 100vh;
    width: 100%;
    .container{
        height: 80%;
        text-align: center;
        padding: 0 20rem;
        color: $dark;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            font-size: 25px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 1rem 0;
        }
        h1{
            text-transform: uppercase;
            font-size: 60px;
            font-weight: 900;
            margin: 1rem 0;
            width: 100%;
            span{
                color: $main;
            }
        }
    }
    .bottom-img{
        width: 100%;
        height: 20%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

#about{
    width: 100%;
    height: 90vh;
    background: linear-gradient(360deg, #fff, $main);

    .feature{
        height: 80vh;
        width: 100%;
        position: relative;
        top: -5px;
        padding-top: 6rem;
        h1{
            width: 50%;
            font-size: 40px;
            font-weight: 600;
            margin-left: 5rem;
        }
        .container{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            padding: 2rem 1rem 0 1rem;
            .promise{
                padding: 1rem;
                width: 46%;
                padding-right: 1rem;
                h2{
                    margin-bottom: 1rem;
                    font-size: 20px;
                    font-weight: 400;
                    span{
                        width: 50px;
                        height: 50px;
                        padding: .4rem .7rem;
                        border-radius: 50%;
                        background-color: $orange;
                        color: $dark;
                    }
                }
                p{
                    line-height: 1.5rem;
                    letter-spacing: 1px;
                }
            }
            .promise:nth-child(1){
                border-right: 1px solid $dark;
                
            }
   
        }
    }
}   

#services{
    height: 100%;
    width: 100%;
    padding: 5rem 1rem 0 1rem;
    text-align: center;
    h1{
        font-size: 40px;
        font-weight: 800;
        padding: 0 15rem 5rem 15rem;
        span{
            background: $main;
            color: $light;
        }
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .line{
            border-bottom: 1px solid $dark;
        }
        .space{
            padding: 1rem 0;
        }
        .cards{
            width: 270px;
            height: 350px;
            text-align: center;
            padding: 1.2rem;
            border-radius: 5px;
            /*box-shadow: 0 0 20px $neutral;*/
            .title{
                width: 100%;
                font-size: 20px;
                font-weight: 500;
            }
            .price{
                width: 100%;
                font-size: 50px;
                font-weight: 900;
            }
            .details{
                width: 100%;
                font-size: 18px;
                font-weight: 500;
            }
            .btn{
                width: 100%;
                height: 35px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $dark;
                font-weight: 500;
                font-size: 12px;
                letter-spacing: 1.3px;
                text-transform: uppercase;
                background: linear-gradient(45deg, $light, $main);
                cursor: pointer;
            }.btn:hover{
                background: linear-gradient(45deg,#f7fe72 30%,#f4e76e 100%);
            }
        }
        .main{
            height: 370px;
            background: linear-gradient(45deg, $light, $main);
            .line{
                border-bottom: 1px solid $light;
            }
            .btn{
                background: linear-gradient(45deg,#f7fe72 30%,#f4e76e 100%);
                
            }.btn:hover{
                background: linear-gradient(45deg,#f7fe72 30%,#f4e76e 100%);
               
            }
        }
    }    
}

.information{
    width: 100%;
    height: 100%;
    padding: 3rem;
    margin: 3rem 0;
    .info-main{
        width: 100%;
        background: linear-gradient(40deg, transparent 50%, #f4e76e 50%);
        border-radius: 10px;
        padding: 3rem 0;
        display: flex;
        .info{
            width: 50%;
            height: 100%;
            padding-left: 2rem;
            h3{
                text-transform: uppercase;
                font-size: 25px;
                margin-bottom: 1rem;
                span{
                    background: $main;
                    padding: 0 1rem;
                }
            }
            p{
                margin: .5rem 0;
                letter-spacing: 1px;
            }
        }
        img{
            width: 50%;
            height: 300px;
            padding: 0 4rem;
        }
    }
}

#products{
    width: 100%;
    height: 100vh;
    margin-bottom: 4rem;
    text-align: center;
    .title{
        font-size: 30px;
        font-weight: 900;
        color: $main;
        span{
            font-weight: 400;
            color: $dark;
            padding: 0 1rem;
            background: linear-gradient(45deg,#f7fe72 30%,#f4e76e 100%);
        }
    }
    .work-fearured{
        background-image: url('../img/device-s-fs8.8e7097d5.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .works{
            max-width: 280px;
            height: 80%;
            .image-slides{
                width: 100%;
                position: relative;
                margin: auto;
                margin-bottom: 2rem;
                .frame {
                    display: none;
                }
                .numbertext{
                    color: $main;
                }
                .btn-prev, .btn-next {
                    cursor: pointer;
                    position: absolute;
                    top: 92%;
                    margin-right: .3rem;
                    width: auto;
                    padding: 16px;
                    color: $main;
                    font-weight: bold;
                    font-size: 18px;
                    transition: 0.6s ease;
                }
                .btn-prev:hover, 
                .btn-next:hover {
                    background-color: #222;
                    opacity: .5;
                }
                .btn-next {
                    right: 0;
                    border-radius: 0 0 28px 0;
                }
                .btn-prev {
                    left: -2.5px;
                    border-radius: 0 0 0 28px;
                }
                .fades{
                    -webkit-animation-name: fade;
                    -webkit-animation-duration: 1.5s;
                    animation-name: fade;
                    animation-duration: 1.5s;
                    img{
                        width: 100%;
                        height: 550px;
                    }
                }
            }
        }
    }
}

#developer{
    height: 70vh;
    width: 100%;
    margin-top: 2rem;
    padding: 3rem;
    .main-content{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        background: linear-gradient(45deg,$main 60%,$light 40%);
        .main-head{
            width: 50%;
            height: 100%;
            padding: 3rem 0 0 3rem;
            h1{
                width: 60%;
                margin-bottom: 1rem;
                span{
                    background: $orange;
                }
            }
            h6{
                margin-bottom: 1rem;
                span{
                    background: $orange;    
                }
            }
            p{
                line-height: 1.2rem;
                letter-spacing: 1px;
            }
        }
        img{
            width: 50%;
            height: 100%;
            padding: 3rem;
        }
    }
}

.work-together{
    width: 100%;
    height: 40vh;
    text-align: center;
    background-image: url('../img/bottom.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-size: 40px;
        font-weight: 900;
        color: $main;
        position: relative;
        top: -30px;
    }
    .btn{
        cursor: pointer;
        width: 300px;
        height: 50px;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        top: 90px;
        border: transparent;
        background: linear-gradient(45deg,#f7fe72 30%,#f4e76e 100%);
    }.btn:hover{
        box-shadow: 0 0 20px #eee;
    }
    .btn:focus{
        outline: none;
    }
}

#contact{
    width: 100%;
    height: 100vh;
    background: $foot;
    .foot{
        width: 100%;
        height: 35%;
        text-align: center;
        img{
            height: 100%;
            margin: 2rem 0;
        }
    }
    .footer{
        width: 100%;
        height: 55%;
        padding: 3rem;
        color: rgb(199, 199, 199);
        h1{
            color: transparent;
            font-size: 40px;
            letter-spacing: 1px;
            -webkit-text-stroke: 1px $orange;
        }
        p{
            font-weight: 200;
            line-height: 1.3rem;
        }
        .spacer{
            width: 30px;
            height: 5px;
            margin-bottom: 1rem;
            border: 1px solid $orange;
        }
        .foot-content{
            display: flex;
            .aboutus{
                width: 33%;
                height: 100%;
                padding: 0 1rem;
            }
            .findus{
                width: 33%;
                height: 100%;
                padding: 0 1rem;
                .link{
                    margin: 1rem 0;
                    h6{
                        font-size: 15px;
                        letter-spacing: 1px;
                        margin-bottom: .2rem;
                    }
                }
            }
            .social{
                width: 33%;
                height: 100%;
                padding: 0 1rem;
            }
        }
    }
    .back{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mouse-up{
            width: 20px;
            height: 45px;
            border-radius: 30px;
            border: 1px solid $light;
            span{
                width: 10px;
                height: 10px;
                background-color: $light;
                display: block;
                border-radius: 50%;
                margin: auto;
                position: relative;
                top: 10px;
                animation: scroll 1.2s linear alternate infinite;
            }
        }
    }
}

@keyframes scroll{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow{
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: 1.5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}
@media screen and (max-width:1000px){
    #home{
        .container{
           padding: 0;
        }
    }
}
@media screen and (max-width:800px){
    #about{
        width: 100%;
        height: 100%;
        .feature{
            h1{
                width: 70%;
                margin-left: 2rem;
            }
            .container{
                display: flex;
                flex-wrap: wrap;  
                .promise{
                    width: 100%;   
                } 
                .promise:nth-child(1){
                    border-right: none;
                }
            }
        }
    }
    #services{
        width: 100%;
        height: 100%;
        h1{
            padding: 0 0 3rem 0;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            .cards{
                width: 300px;
                margin: 0;
            }
        }
    }

    .information{
        width: 100%;
        height: 100%;
        .info-main{
            display: flex;
            flex-wrap: wrap;
            background: linear-gradient(45deg,transparent 60%, $orange 40%);
            .info{
                width: 100%;
                order: 2;
            }
            img{
                width: 100%;
                padding: 0 5rem;
                margin-bottom: 2rem;
                order: 1;
            }
        }
    }

    #developer{
        width: 100%;
        height: 100%;
        .main-content{
            display: flex;
            flex-wrap: wrap;
            .main-head{
                width: 100%;
                order: 2;
                position: relative;
                top: -100px;
                p{
                    width: 80%;
                }
            }
            img{
                width: 100%;
                order: 1;
                padding: 4rem;
            }
        }
    }
}

@media screen and (max-width:600px){
    #home{
        .container{
            h1{
                font-size: 50px;   
            } 
            p{
                display:none;
            }
        }
    }

    .information, #developer{
        padding: 1rem;
    }

    #contact{
        width: 100%;
        height: 100%;
        padding-bottom: 2rem;
        .foot{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .footer{
            width: 100%;
            .foot-content{
                display: flex;
                flex-wrap: wrap;
                .aboutus, .findus, .social{
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width:550px){
    #home{
        .container{
            padding: 0 3rem;
            h1{
                font-size: 30px; 
                margin: 0;  
            } 
        }
    }
    #services{
        margin-top: 4rem;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        .cards{
            width: 100%;
            margin: 0;
        }
    }
}

@media screen and (max-width:411px){
    .information{
        margin-bottom: 0;
    }
    #developer{
        margin-top: 0;
    }
    #products .work-fearured .works .image-slides .fades img{
        height: 580px;
    }
}

@media screen and (max-width:360px){
    #services{
       margin-top: 15rem;
    }

    #products .work-fearured .works .image-slides .fades img{
        height: 500px;
    }
}

@media screen and (max-width:320px){
    #products .work-fearured .works .image-slides .fades img{
        height: 430px;
        width: 230px;
    }
}
